<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- DO NOT ARBITRARILY CHANGE THIS FILE UNLESS YOU KNOW WHAT YOU'RE DOING! -->
  <!-- THE LEGACY SECTIONS ARE INTENTIONALLY USED AND THE VALUES COMPLETELY TIED TO NUNIT TESTS! -->
  <configSections>
    <section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="kCura.WinEDDS" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="kCura.Utility" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="kCura.Windows.Process" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="Relativity.DataExchange" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <kCura.Config>
    <add key="ValueRefreshThreshold" value="123456789" />
  </kCura.Config>
  <kCura.Utility>
    <add key="CreateErrorForInvalidDate" value="True" />
    <add key="ExportErrorNumberOfRetries" value="2" />
    <add key="ExportErrorWaitTimeInSeconds" value="1" />
    <add key="IOErrorNumberOfRetries" value="2" />
    <add key="IOErrorWaitTimeInSeconds" value="1" />
    <add key="MaxNumberOfFileExportTasks" value="4" />

    <!-- These were deprecated during the RDC Export hardening project. -->
    <!-- Keeping these intentionally to verify deprecated settings don't cause runtime errors. -->
    <add key="MaximumFilesForTapiBridge" value="333" />
    <add key="TapiBridgeExportTransferWaitingTimeInSeconds" value="444" />
  </kCura.Utility>
  <kCura.WinEDDS>
    <add key="ApplicationName" value="Custom App" />
    <add key="BadPathErrorsRetry" value="False" />
    <add key="CreateErrorForEmptyNativeFile" value="True" />
    <add key="DefaultMaxErrorCount" value="555" />
    <add key="DisableImageLocationValidation" value="True" />
    <add key="DisableImageTypeValidation" value="True" />
    <add key="DisableTextFileEncodingCheck" value="True" />
    <add key="DisableNativeLocationValidation" value="True" />
    <add key="DynamicBatchResizingOn" value="False" />
    <add key="ExportBatchSize" value="255" />
    <add key="ForceParallelismInNewExport" value="false" />
    <add key="ForceWebUpload" value="True" />
    <add key="ImportBatchMaxVolume" value="12345" />
    <add key="ImportBatchSize" value="102" />
    <add key="JobCompleteBatchSize" value="999" />
    <add key="LogConfigFile" value="CustomLog.xml" />
    <add key="MaximumReloginTries" value="42" />
    <add key="MinimumBatchSize" value="29" />
    <add key="PermissionErrorsRetry" value="False" />
    <add key="PreviewThreshold" value="49" />
    <add key="RestUrl" value="/Relativity.One.REST/api/" />
    <add key="ServicesUrl" value="/Relativity.One.Services/" />    
    <add key="SuppressCertificateCheckOnClient" value="True" />
    <add key="TapiAsperaBcpRootFolder" value="Root" />
    <add key="TapiForceAsperaClient" value="True" />
    <add key="TapiForceBcpHttpClient" value="True" />
    <add key="TapiForceClientCandidates" value="FileShare;Aspera;Http" />
    <add key="TapiForceFileShareClient" value="True" />
    <add key="TapiForceHttpClient" value="True" />
    <add key="TapiLargeFileProgressEnabled" value="True" />
    <add key="TapiMaxJobParallelism" value="5" />
    <add key="TapiMinDataRateMbps" value="30" />
    <add key="TapiSubmitApmMetrics" value="False" />
    <add key="TapiTargetDataRateMbps" value="50" />
    <add key="TapiTransferLogDirectory" value="%temp%\IAPI_log\" />
    <add key="TempDirectory" value="C:\" />
    <add key="UsePipeliningForNativeAndObjectImports" value="True" />
    <add key="WaitBeforeReconnect" value="64" />
    <add key="WebAPIOperationTimeout" value="333" />
    <add key="WebServiceURL" value="https://relativity.one.com" />
    <add key="WebBasedFileDownloadChunkSize" value="11111" />
    <add key="HttpTimeoutSeconds" value="23" />
    <add key="UseSearchablePDF" value="True" />
  </kCura.WinEDDS>
  <kCura.Windows.Process>
    <add key="LogAllEvents" value="True" />
  </kCura.Windows.Process>

  <!-- Note: all new key/value pairs go here. -->
  <!-- Note: Tapi...FileNotFoundErrorsDisabled are opposite from default -->
  <!-- Note: Tapi...FileNotFoundErrorsRetry are opposite from default -->
  <Relativity.DataExchange>
    <add key="TapiFileNotFoundErrorsDisabled" value="True" />
    <add key="TapiFileNotFoundErrorsRetry" value="False" />
    <add key="TapiExportFileNotFoundErrorsDisabled" value="False" />
    <add key="TapiExportFileNotFoundErrorsRetry" value="True" />
    <add key="TapiMaxInactivitySeconds" value="99" />
    <add key="40B88CBC-9435-4A91-8F65-48B52C51B3FD" value="True" />
    <add key="FileTypeIdentifyTimeoutSeconds" value="456" />
    <add key="OAuth2ImplicitCredentialRedirectUrl" value="http://relativity" />
    <add key="TelemetrySubmitApmMetrics" value="False" />
    <add key="TelemetrySubmitSumMetrics" value="False" />
    <add key="TelemetryMetricsThrottlingSeconds" value="50" />
    <add key="HttpExtractedTextTimeoutSeconds" value="96" />
  </Relativity.DataExchange>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="_fileColumns.AlternateRowColors" value="False" />
    <add key="True" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <!--- Required to enable native support for long file paths for file transfers in the RDC and ROSE. -->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>