<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoBogus" version="2.13.0" targetFramework="net462" />
  <package id="AutoFixture" version="4.17.0" targetFramework="net462" />
  <package id="AutoMapper" version="10.1.1" targetFramework="net462" />
  <package id="Bogus" version="31.0.3" targetFramework="net462" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="ConfigureAwaitChecker.Analyzer" version="4.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net462" />
  <package id="Moq" version="4.5.30" targetFramework="net462" />
  <package id="NBuilder" version="6.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="2.9.2" targetFramework="net462" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2021.8.0" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="13.4.1" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="13.4.1" targetFramework="net462" />
  <package id="Relativity.Transfer.Client" version="7.4.7" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>