<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.WinEDDS" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<kCura.WinEDDS>
		<add key="ImportBatchMaxVolume" value="52428800" />
		<add key="ImportBatchSize" value="500" />
		<add key="ExportBatchSize" value="1000" />
	</kCura.WinEDDS>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="_fileColumns.AlternateRowColors" value="False" />
		<add key="True" value="False" />
	</appSettings>
</configuration>