<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="kCura.WinEDDS"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.Data.RowDataGateway" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.Semetric" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.EDDS"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.EDDS.DynamicFields"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.Code"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.Audit" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />		
		<section name="kCura.Chicago" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.Superior.Data" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.View" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<kCura.WinEDDS>
		<add key="UsesWebAPI" value="true" />
		<add key="uriFormatString" value="{1}://{0}/relativitywebapi/" />
		<add key="Host" value="disgruntledgoat" />
		<add key="Protocol" value="http" />
		<add key="WebServiceURL" value="http://disgruntledgoat/RelativityWebAPI/" />
		<add key="SearchExportChunkSize" value="50" />
	</kCura.WinEDDS>
  <kCura.Data.RowDataGateway>
		<add key="MultipleDatabaseArchitecture" value="true" />
		<add key="MasterDatabaseName" value="EDDS" />
		<add key="MasterDatabaseUserName" value="EDDSDBO" />
		<add key="connectionString" value="data source=disgruntledgoat;initial catalog=EDDS;persist security info=False;user id=EDDSDBO;password=EDDS; workstation id=localhost;packet size=4096"/>
	</kCura.Data.RowDataGateway>
  <kCura.Semetric>
		<add key="SemetricEngineAddress" value="localhost:3000"/>
		<add key="SearchResults" value="-1"/>
  </kCura.Semetric>
  <kCura.EDDS>
		<add key="MaxInvalidLoginAttempts" value="3" />
		<add key="SystemArtifactID" value="62" />
		<add key="SystemACLID" value="1"/>
		<add key="SearchSnippets" value="false" />
  </kCura.EDDS>
  <kCura.EDDS.DynamicFields>
    <add key="FieldArtifactTypeID" value="14" />
    <add key="VarcharTrimLength" value="100" />
  </kCura.EDDS.DynamicFields>
  <kCura.Code>
		<add key="CodeArtifactTypeID" value="7" />
		<add key="SupportCodeCaching" value="false" />
   </kCura.Code>
	<kCura.Audit>
		<add key="AuditViews" value="False" />
		<add key="EnableAuditing" value="True" />
		<add key="Database" value="EDDS" />
	</kCura.Audit>
  <kCura.Chicago>
		<add key="CheckIgnorePermissions" value="false" />
		<add key="TimeZoneAware" value="true" />
	</kCura.Chicago>
	<kCura.Superior.Data>
		<add key="DatabaseUserName" value="eddsdbo" />
	</kCura.Superior.Data>
  <kCura.View>
		<add key="ViewArtifactTypeID" value="4" />
  </kCura.View>
</configuration>