<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="kCura.WinEDDS"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="kCura.ImageValidator"  type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<kCura.ImageValidator>
		<add key="AllowJpegs" value="true" />
	</kCura.ImageValidator>
	<kCura.WinEDDS>
		<add key="UsesWebAPI" value="true" />
		<add key="SearchExportChunkSize" value="50" />
		<add key="OutlookImporterLocation" value="" />
	</kCura.WinEDDS>
</configuration>