<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="kCura.WinEDDS" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<!--
		DynamicBatchResizingOn (Default is True.) – When this value is set to True, the batch size is automatically decreased when a large import job is in progress, and it causes a timeout. 
		MinimumBatchSize (Default is 100.) - When AutoBatch is set to True, this value represents the lower bound on the batch size. Batch sizes cannot be smaller than this value.
		WaitTimeBetweenRetryAttempts (Default is 30 seconds.) – This value represents the time interval in seconds between import attempts made by the RDC.
	-->
	<!--
	<kCura.WinEDDS>
		<add key="ImportBatchMaxVolume" value="10485760" />
		<add key="ImportBatchSize" value="1000" />
		<add key="ExportBatchSize" value="1000" />
		<add key="DynamicBatchResizingOn" value="True" />
		<add key="MinimumBatchSize" value="100" />
		<add key="WaitTimeBetweenRetryAttempts" value="30" />
		<add key="CreateErrorForEmptyNativeFile" value="False" />
	</kCura.WinEDDS>
	-->
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="_fileColumns.AlternateRowColors" value="False"/>
		<add key="True" value="False"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
  <bindings/>
  <client/>
 </system.serviceModel>
</configuration>
