<?xml version="1.0"?>
<configuration>
  <configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<sectionGroup name="FieldNames">
      <section name="Document" type="System.Configuration.DictionarySectionHandler"/>
      <section name="DefaultObject" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="connectionString" value="pooling=false; data source=localhost\integratedtests;initial catalog=master;persist security info=False;user id=eddsdbo;password=edds; workstation id=localhost;packet size=4096"/>
    <add key="endpointNameToUse" value="httpsArtifactManager_UNPWD"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
	<loggingConfiguration name="MrMarchant" tracingEnabled="true" defaultCategory="FileIO" revertImpersonation="true">
		<listeners>
			<add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\AutomatedTests\Logs\RelativityServicesAPITestRun.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp" filter="All"/>
			<add name="XML Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace-xml.log" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp" filter="All"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="FileIO">
				<listeners>
					<add name="Flat File Trace Listener"/>
					<add name="XML Trace Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Database">
				<listeners>
					<add name="Flat File Trace Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Information">
				<listeners>
					<add name="Flat File Trace Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Misc">
				<listeners>
					<add name="Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Flat File Trace Listener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Flat File Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
