<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="FieldNames">
      <section name="Document" type="System.Configuration.DictionarySectionHandler" />
      <section name="DefaultObject" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="connectionString" value="data source=localhost\integratedtests;initial catalog=master;persist security info=False;user id=eddsdbo;password=edds; workstation id=localhost;packet size=4096" />
    <add key="connectionStringForSetup" value="pooling=false;data source=localhost\integratedtests;initial catalog=master;persist security info=False;user id=eddsadmindbo;password=edds; workstation id=localhost;packet size=4096" />
    <add key="defaultLDFDirectory" value="C:\AutomatedTests\ImportAPI\DefaultDirectories\LDF" />
    <add key="defaultMDFDirectory" value="C:\AutomatedTests\ImportAPI\DefaultDirectories\MDF" />
    <add key="defaultFileRepositoryLocation" value="C:\AutomatedTests\ImportAPI\DefaultDirectories\FileRepository" />
    <add key="defaultDTSearchIndexDirectory" value="C:\AutomatedTests\ImportAPI\DefaultDirectories\DTSearchIndexes" />
    <add key="defaultCAIndexDirectory" value="C:\AutomatedTests\ImportAPI\DefaultDirectories\ContentAnalyst" />
    <add key="procuroBuildLocation" value="kCura.EDDS.Procuro\bin\kCura.EDDS.Procuro.exe" />
    <add key="procuroResultsLocation" value="C:\AutomatedTests\ProcuroUpgradeResults.xml" />
    <add key="procuroSolutionLocation" value="kCura.EDDS.Procuro.sln" />
    <add key="compilerLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.exe" />
    <add key="endpointNameToUse" value="httpsArtifactManager_UNPWD" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>