<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Relativity.Kepler" version="1.0.1.393" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.393" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.308" targetFramework="net462" />
  <package id="Relativity.OAuth2Client" version="1.0.23" targetFramework="net462" />
  <package id="Relativity.OAuth2Client.Implicit" version="1.0.23" targetFramework="net462" />
  <package id="Relativity.OAuth2Client.Interfaces" version="1.0.23" targetFramework="net462" />
  <package id="relativity.transfer.client" version="1.0.0-beta000510" targetFramework="net462" />
</packages>