<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Kepler" version="1.0.0.1" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.0.1" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="1.0.0" targetFramework="net462" />
  <package id="relativity.transfer.client" version="1.0.0-beta000489" targetFramework="net462" />
</packages>