framework: net462
source https://nuget.org/api/v2

# Note: periodically update NUnit to the latest version.
nuget nunit = 3.11.0
nuget moq = 4.10.1
nuget nbuilder = 6.0.0

# Proget packages are below.
source https://proget.kcura.corp/NuGet/NuGet

# Note: the REL-194231-iapi-foldercache Jenkins pipeline must be fixed 
#       and the branch must be merged before this package can be used
#       with this solution. Manually build WinEDDS to this exact version for now.
nuget relativity.importexport = 9.7.193.3