framework: net462
source https://nuget.org/api/v2

nuget castle.windsor = 3.3.0
nuget csvhelper = 12.1.2
nuget extent = 0.0.3
nuget gitversion.commandline = 3.6.4
nuget itextsharp = 5.5.13
nuget microsoft.build.logging.structuredlogger = 1.0.89
nuget moq = 4.10.1
nuget nbuilder = 6.0.0

# Be even more careful with this library. This resolves a package conflict with the Azure Data Movement library.
nuget newtonsoft.json = 6.0.8
nuget nsubstitute = 3.1.0

# Note: periodically update NUnit to the latest version.
nuget nunit = 3.11.0
nuget nunit.consolerunner = 3.9.0
nuget nunit.extension.vsprojectloader = 3.8.0

# Polly is explicitly listed to avoid conflicts between TAPI and Relatativity.
nuget polly = 5.7.0.0
nuget psake = 4.7.4
nuget rhinomocks  = 3.6.0
nuget stylecop.analyzers = 1.0.2

# Proget packages are below.
source https://proget.kcura.corp/NuGet/NuGet

# Both kCura and Relativity are explicitly listed to address a bug with Relativity and NuGet packages (IE 10.2.0.0 only)
nuget kcura = 10.2.32.58-DEV
nuget kcura.outsidein.fi.win32 = 2018.9.1
nuget kcura.relativity.client = 10.2.32.58-DEV
nuget relativity = 10.2.32.58-DEV
nuget relativity.logging = 2018.11.5
nuget relativity.logging.interfaces = 2018.11.5
nuget relativity.importexport = 10.2.32.58-DEV
nuget relativity.objectmanager = 10.2.32.58-DEV
nuget relativity.productions.services.interfaces = 10.2.0
nuget relativity.telemetry.datacontracts.shared = 2019.1.0
nuget relativity.telemetry.services.interface = 2019.1.0
nuget relativity.transfer.client = 5.0.2

# Note: all of the dependencies below are required once kCura.WinEDDS is migrated.
# group LegacyCastle
# 	source https://nuget.org/api/v2
# 	nuget castle.core = 3.3.3
# 	nuget castle.windsor = 3.3.0
# nuget relativity.dataTransfer.messageService = 10.2.0
# nuget relativity.kepler = 1.0.1.609
# nuget relativity.kepler.client = 1.0.1.609
# nuget relativity.oauth2client = 1.0.27
# nuget relativity.oauth2client.implicit = 1.0.27
# nuget relativity.oauth2client.interfaces = 1.0.27
# nuget relativity.telemetry.apm = 2019.1.0