<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="RelativityUrl" value="https://hostname.mycompany.corp" />
		<add key="RelativityRestUrl" value="https://hostname.mycompany.corp/relativity.rest/api" />
		<add key="RelativityServicesUrl" value="https://hostname.mycompany.corp/relativity.services" />
		<add key="RelativityWebApiUrl" value="https://hostname.mycompany.corp/RelativityWebApi" />
		<add key="RelativityUserName" value="email@company.com" />
		<add key="RelativityPassword" value="SomePassword!" />
		<add key="ServerCertificateValidation" value="false" />
		<!-- Aspera mode tests can only be run when the test environment is RelativityOne or configured with Aspera. -->
		<add key="SkipAsperaModeTests" value="true" />
		<!-- Direct mode tests can only be run when tests are run from an environment that has direct access to file shares. -->
		<add key="SkipDirectModeTests" value="false" />
		<add key="SkipIntegrationTests" value="false" />
		<!-- This should be used for RelativityOne test environments.
    <add key="WorkspaceTemplate" value="RelativityOne Quick Start Template" />
    -->
		<add key="WorkspaceTemplate" value="Relativity Starter Template" />
		<!-- The SQL parameters are optional and only used to drop the test workspace
         database that gets created with each test run.
    -->
		<add key="SqlDropWorkspaceDatabase" value="true" />
		<add key="SqlInstanceName" value="hostname.mycompany.corp\EDDSINSTANCE001" />
		<add key="SqlAdminUserName" value="sa" />
		<add key="SqlAdminPassword" value="SomePassword!" />
		<add key="WindowsApplicationDriverUrl" value="http://127.0.0.1:4723" />
		<add key="RdcPath" value="..\..\..\Relativity.Desktop.Client.Legacy\bin\Relativity.Desktop.Client.exe" />
		<add key="TestInputDirectory" value="..\..\..\..\packages\ui-automation\Relativity.DataExchange.TestData\content" />
		<add key="TestOutputDirectory" value="..\..\..\..\TestOutput" />
		<add key="DefaultWaitTimeoutInMilliseconds" value="60000" />
		<add key="DefaultWaitForWindowTimeoutInMilliseconds" value="60000" />
		<add key="AllDocumentsViewName" value="All Documents" />
		<add key="SqlCaptureProfiling" value="false" />
		<add key="SqlProfilingReportsOutputPath" value="C:\SqlProfiling" />
		<add key="EnableDataGrid" value="false" />
	</appSettings>
</configuration>