<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="RelativityUrl" value="https://p-dv-vm-lax0hub" />
		<add key="RelativityRestUrl" value="https://p-dv-vm-lax0hub/relativity.rest/api" />
		<add key="RelativityServicesUrl" value="https://p-dv-vm-lax0hub/relativity.services" />
		<add key="RelativityWebApiUrl" value="https://p-dv-vm-lax0hub/RelativityWebApi" />
		<add key="RelativityUserName" value="relativity.admin@kcura.com" />
		<add key="RelativityPassword" value="Test1234!" />
		<add key="ServerCertificateValidation" value="false" />
		<!-- Aspera mode tests can only be run when the test environment is RelativityOne or configured with Aspera. -->
		<add key="SkipAsperaModeTests" value="true" />
		<!-- Direct mode tests can only be run when tests are run from an environment that has direct access to file shares. -->
		<add key="SkipDirectModeTests" value="false" />
		<add key="SkipIntegrationTests" value="false" />
		<!-- This should be used for RelativityOne test environments.
    <add key="WorkspaceTemplate" value="RelativityOne Quick Start Template" />
    -->
		<add key="WorkspaceTemplate" value="Relativity Starter Template" />
		<!-- The SQL parameters are optional and only used to drop the test workspace
         database that gets created with each test run.
    -->
		<add key="SqlDropWorkspaceDatabase" value="true" />
		<add key="SqlInstanceName" value="p-dv-vm-lax0hub\EDDSINSTANCE001" />
		<add key="SqlAdminUserName" value="eddsdbo" />
		<add key="SqlAdminPassword" value="MySqlPassword123" />
	</appSettings>
</configuration>