<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="RelativityUrl" value="https://hostname.mycompany.corp" />
	<add key="RelativityRestUrl" value="https://hostname.mycompany.corp/relativity.rest/api" />
	<add key="RelativityServicesUrl" value="https://hostname.mycompany.corp/relativity.services" />
	<add key="RelativityWebApiUrl" value="https://hostname.mycompany.corp/RelativityWebApi" />
	<add key="RelativityUserName" value="email@company.com" />
	<add key="RelativityPassword" value="SomePassword!" />
	<add key="ServerCertificateValidation" value="false" />
	<add key="WriteLogsToConsole" value="true" />
	<!--Aspera mode tests can only be run when the test environment is RelativityOne or configured with Aspera.-->
	<add key="SkipAsperaModeTests" value="true" />
	<!--Direct mode tests can only be run when tests are run from an environment that has direct access to file shares.-->
	<add key="SkipDirectModeTests" value="false" />
	<add key="SkipIntegrationTests" value="false" />
	<!--This should be used for RelativityOne test environments 'RelativityOne Quick Start Template'-->
	<add key="WorkspaceTemplate" value="Relativity Starter Template" />
	<add key="TestOnWorkspaceWithNonDefaultCollation" value="false" />
	<add key="DeleteWorkspaceAfterTest" value="true" />
	<add key="SqlDropWorkspaceDatabase" value="true" />
	<add key="SqlCaptureProfiling" value="false" />
	<add key="SqlProfilingReportsOutputPath" value="C:\SqlProfiling"/>
	<add key="SqlComparerEnabled" value="false" />
	<add key="SqlComparerOutputPath" value="C:\SqlComparer"/>
	<!--The SQL parameters are required only when one of the following options is enabled:
	SqlDropWorkspaceDatabase, SqlCaptureProfiling, SqlComparerEnabled-->
	<add key="SqlInstanceName" value="hostname.mycompany.corp\EDDSINSTANCE001" />
	<add key="SqlAdminUserName" value="sa" />
	<add key="SqlAdminPassword" value="SomePassword!" />
	<!-- When set to true, it enables DataGrid in the test workspace.
	It does not disable DataGrid when set to false (Relativity does not allow to do that).-->
	<add key="EnableDataGrid" value="false" />
	<!--Additional setup is required only for workspaces with non default field names and IDs-->
	<add key="PerformAdditionalWorkspaceSetup" value="false" />
	<!--RDC path required for UI tests execution-->
	<add key="RDCPath" value="..\..\..\Relativity.Desktop.Client.Legacy\bin\Relativity.Desktop.Client.exe" />
</appSettings>