<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Variables.wxi ?>
  <Fragment>
    <!-- Visual C++ General Note.                                                                                         -->
    <!-- Starting with VC++ 2015 and extending to 2019, all VC++ installations share the same major version number!       -->
    <!-- The approach that most take where you simply check the "Installed" Registry value can no longer be used.         -->
    <!-- This is why explicit major.minor.bld condition checks are performed.                                             -->
    <!--                                                                                                                  -->
    <!-- Note: See the SO link for details on how to properly check for VC++                                              -->
    <!--                                                                                                                  -->
    <!-- Note: Heat was used to auto-generate the payload parameters                                                      -->
    <!--       e.g. heat.exe payload {filename} -o payload.wxs                                                            -->
    <!--                                                                                                                  -->
    <!-- Note: VC++ 2022 is backwards compatible with VC++ 2015, 2017, 2019                                               -->
    <!--                                                                                                                  -->
    <!-- Note: New TAPI uses VC++ > 2015 that is why VC++ 2010 is not longer required                                     -->

    <!-- The Visual C++ 2015-2022 x86 runtime is required for ALL platforms! -->
    <util:ProductSearch Id="VCPP2022X86REDIST"
                        UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A"
                        Result="version"
                        Variable="VCPP2022X86REDIST" />
    <PackageGroup Id="VCPP2022X86REDISTPKGGRP">
      <ExePackage Id="VCPP2022X86REDISTPKG"
                  Cache="yes"
                  Compressed="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  DisplayName="Microsoft Visual C++ 2015-2022 x86 Redistributable"
                  InstallCommand="/q /norestart"
                  Name="VC_redist.x86.exe"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/b2519016-4a13-4120-936c-cae003d567c4/8AE59D82845159DB3A70763F5CB1571E45EBF6A1ADFECC47574BA17B019483A0/VC_redist.x86.exe"
                  DetectCondition="(VCPP2022X86REDIST &gt;= v14.34.31938)"
                  SuppressSignatureVerification="yes">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1641" Behavior="forceReboot"/>
        <ExitCode Value="3010" Behavior="forceReboot"/>
        <ExitCode Behavior="error"/>
        <RemotePayload Description="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.34.31938"
                       Hash="663399541A7D3BB1B5EA0E57A00C024E50D8506C"
                       ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.34.31938"
                       Size="13838816"
                       Version="14.34.31938.0" />
      </ExePackage>
    </PackageGroup>
    <!-- The Visual C++ 2015-2022 x64 runtime is ONLY required for 64-bit platforms! -->
    <util:ProductSearch Id="VCPP2022X64REDIST"
                        UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
                        Result="version"
                        Variable="VCPP2022X64REDIST" />
    <PackageGroup Id="VCPP2022X64REDISTPKGGRP">
      <ExePackage Id="VCPP2022X64REDISTPKG"
                  Cache="yes"
                  Compressed="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  DisplayName="Microsoft Visual C++ 2015-2022 x64 Redistributable"
                  InstallCommand="/q /norestart"
                  Name="VC_redist.x64.exe"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/8b92f460-7e03-4c75-a139-e264a770758d/26C2C72FBA6438F5E29AF8EBC4826A1E424581B3C446F8C735361F1DB7BEFF72/VC_redist.x64.exe"
                  InstallCondition="VersionNT64"
                  DetectCondition="(VCPP2022X64REDIST &gt;= v14.34.31938)"
                  SuppressSignatureVerification="yes">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1641" Behavior="forceReboot"/>
        <ExitCode Value="3010" Behavior="forceReboot"/>
        <ExitCode Behavior="error"/>
        <RemotePayload Description="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.34.31938"
                       Hash="4DE9F6681F0F213B132DEF3AF88A3C68483F5F32"
                       ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.34.31938"
                       Size="25490328"
                       Version="14.34.31938.0" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>