<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="kCura.WinEDDS" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="kCura.Utility" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="kCura.Windows.Process" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="RelativityUrl" value="https://hostname.mycompany.corp" />
    <add key="RelativityRestUrl" value="https://hostname.mycompany.corp/relativity.rest/api" />
    <add key="RelativityServicesUrl" value="https://hostname.mycompany.corp/relativity.services" />
    <add key="RelativityWebApiUrl" value="https://hostname.mycompany.corp/RelativityWebApi" />
    <add key="RelativityUserName" value="email@company.com" />
    <add key="RelativityPassword" value="SomePassword!" />
    <add key="ServerCertificateValidation" value="false" />
    <!-- Aspera mode tests can only be run when the test environment is RelativityOne or configured with Aspera. -->
    <add key="SkipAsperaModeTests" value="true" />
    <!-- Direct mode tests can only be run when tests are run from an environment that has direct access to file shares. -->
    <add key="SkipDirectModeTests" value="false" />
    <add key="SkipIntegrationTests" value="false" />
    <!-- This should be used for RelativityOne test environments.
    <add key="WorkspaceTemplate" value="RelativityOne Quick Start Template" />
    -->
    <add key="WorkspaceTemplate" value="Relativity Starter Template" />
    <!-- The SQL parameters are optional and only used to drop the test workspace
         database that gets created with each test run.
    -->
    <add key="SqlDropWorkspaceDatabase" value="true" />
    <add key="SqlInstanceName" value="hostname.mycompany.corp\EDDSINSTANCE001" />
    <add key="SqlAdminUserName" value="sa" />
    <add key="SqlAdminPassword" value="SomePassword!" />
  </appSettings>
  <kCura.Utility>
    <!-- When this value is set to True, a zeroed date (0/0/0000, for example) will cause an Invalid Date error. When False, the date will simply be treated as a NULL value. -->
    <add key="CreateErrorForInvalidDate" value="True" />
    <!-- Defines the number of times the RDC retries an operation within an export process after a non-IO failure.  This value should be greater than or equal to the IOErrorNumberOfRetries value. -->
    <add key="ExportErrorNumberOfRetries" value="20" />
    <!-- Defines the number of seconds the RDC waits before retrying an operation within an export process after a non-IO failure. This value should be greater than or equal to the IOErrorWaitTimeInSeconds value. -->
    <add key="ExportErrorWaitTimeInSeconds" value="30" />
    <!-- Defines the number of times the RDC retries an operation within an import or export process after an IO failure occurs. -->
    <add key="IOErrorNumberOfRetries" value="20" />
    <!-- Defines the number of seconds the RDC waits before retrying an operation within an import or export process after an IO failure occurs. -->
    <add key="IOErrorWaitTimeInSeconds" value="30" />
    <!-- Defines the number of file transfer threads created during export. -->
    <add key="MaxNumberOfFileExportTasks" value="2" />
  </kCura.Utility>
  <kCura.WinEDDS>
    <!-- The application name is used for APM metrics and other reporting features. -->
    <add key="ApplicationName" value="Import Export Tests" />
    <!-- When this value is set to True, bad path errors are retried during a transfer. When False, permission errors are not retried and cause job failures. -->
    <!-- Note: This setting is a transfer specific setting that addresses scenarios where transfer clients (Aspera in particular) fail to transfer a file because of intermittent I/O errors. -->
    <add key="BadPathErrorsRetry" value="True" />
    <!-- When this value is set to True, an error entry is added when importing zero bytes files. When False, no entries are added. -->
    <add key="CreateErrorForEmptyNativeFile" value="False" />
    <!-- When this value is set to True, the batch size is automatically decreased by 100 when a large import job is in progress, and it causes a timeout. -->
    <add key="DynamicBatchResizingOn" value="True" />
    <!-- Defines the maximum number of export documents per batch. -->
    <add key="ExportBatchSize" value="1000" />
    <!-- Defines the number of threads that get created during export. -->
    <add key="ExportThreadCount" value="2" />
    <!-- When this value is set to True, parallelism is forced when preparing export batches. When False, no parallelism is used. This setting is only applicable when UseOldExport is set to False. -->
    <add key="ForceParallelismInNewExport" value="True" />
    <!-- Defines the maximum number of bytes before the metadata is imported. -->
    <add key="ImportBatchMaxVolume" value="10485760" />
    <!-- Defines the maximum number of documents or objects before the metadata is imported. -->
    <add key="ImportBatchSize" value="1000" />
    <!-- Defines the file count threshold at which the RDC will complete and recreate the transfer job used to transfer files. -->
    <add key="JobCompleteBatchSize" value="50000" />
    <!-- Defines the Relativity Logging configuration filename. -->
    <add key="LogConfigFile" value="LogConfig.xml" />
    <!-- When AutoBatch is set to True, this value represents the lower bound on the batch size. Batch sizes cannot be smaller than this value. -->
    <add key="MinimumBatchSize" value="100" />
    <!-- When this value is set to True, permission errors are retried before and during a transfer. When False, permission errors are not retried and cause job failures. -->
    <add key="PermissionErrorsRetry" value="True" />
    <!-- When this value is set to True, SSL certificate validation errors are suppressed. When False, SSL certificate validation errors cause job failures. -->
    <add key="SuppressCertificateCheckOnClient" value="False" />
    <!-- Defines the root folder where the BCP files are uploaded when using the Aspera transfer client. -->
    <!-- Note: This should never be changed unless instructed by RelativityOne support. -->
    <add key="TapiAsperaBcpRootFolder" value="" />
    <!-- When this value is set to True, the Aspera transfer client is forced. When False, the best fit transfer client is chosen at runtime. -->
    <add key="TapiForceAsperaClient" value="False" />
    <!-- When this value is set to True, the HTTP transfer client is forced only for BCP operations. When false, the best fit transfer client is chosen at runtime. -->
    <!-- Note: This is provided for RelativityOne client domain environments where the BCP share isn't accessible from the primary file share. -->
    <add key="TapiForceBcpHttpClient" value="False" />
    <!-- Force an ordered list of transfer clients when probing a workspace and choosing the best client. This value represents a semi-colon delimited list. Native transfer client identifiers must be used (IE FileShare;Aspera;Http). -->
    <add key="TapiForceClientCandidates" value="" />
    <!-- When this value is set to True, the file share transfer client is forced. When False, the best fit transfer client is chosen at runtime. -->
    <add key="TapiForceFileShareClient" value="False" />
    <!-- When this value is set to True, the HTTP transfer client is forced. When false, the best fit transfer client is chosen at runtime. -->
    <!-- Note: This is the same as web mode. -->
    <add key="TapiForceHttpClient" value="False" />
    <!-- When this value is set to True, large-file progress is used by transfer clients to display "Trip x of y" chunk info within the status area. When False, no chunk info is displayed . -->
    <add key="TapiLargeFileProgressEnabled" value="False" />
    <!-- Defines the maximum degree of parallelism for a transfer client job. This value isn't guaranteed to be honored by all clients. -->
    <add key="TapiMaxJobParallelism" value="10" />
    <!-- Defines the minimum data rate in Mbps units. If set to zero, the best value is chosen. This value isn't guaranteed to be honored by all clients. -->
    <!-- Note: This is provided for RelativityOne Aspera transfers. -->
    <add key="TapiMinDataRateMbps" value="0" />
    <!-- When this value is set to True,  APM metrics are submitted upon completion of the transfer job. When False, no APM metrics are submitted. -->
    <add key="TapiSubmitApmMetrics" value="True" />
    <!-- Defines the target data rate in Mbps units. This value isn't guaranteed to be honored by all clients. -->
    <!-- Note: This is provided for RelativityOne Aspera transfers. -->
    <add key="TapiTargetDataRateMbps" value="100" />
    <!-- Defines the directory where Relativity Logging and transfer client logs are stored. -->
    <add key="TapiTransferLogDirectory" value="%temp%\RDC_log\" />
    <!-- Defines a temp directory override where short lived import files are stored. When not defined, the user profile %TEMP% directory is used. -->
    <add key="TempDirectory" value="" />
    <!-- When this value is set to True, the legacy export method is used. When False, the new export method is used. The old export should only be used when encountering compatibility issues. -->
    <add key="UseOldExport" value="False" />
    <!-- Defines the time an XML Web service client waits for the reply to a synchronous XML Web service request to arrive (in milliseconds). -->
    <add key="WebAPIOperationTimeout" value="600000" />
  </kCura.WinEDDS>
  <kCura.Windows.Process>
    <!-- Enable an option to Save Progress Log when job completes. -->
    <add key="LogAllEvents" value="False" />
  </kCura.Windows.Process>
  <runtime>
    <!--- Required to enable native support for long file paths for file transfers in the RDC and ROSE. -->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>