<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Variables.wxi ?>
  <Fragment>
    <ComponentGroup Id="EventLogEntries"
                    Directory="INSTALLFOLDER">
      <Component Id="RdcEntry"
                 Guid="{55021480-9425-45C8-817E-CF5C45DE4087}"
                 Permanent="yes">
        <util:EventSource Log="$(var.Logname)"
                          Name="$(var.RdcEventLogEntryName)"
                          KeyPath="yes"
                          EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
      <Component Id="TapiEntry"
                 Guid="{6490BCEC-E207-4490-947F-B4D2C80F97D8}"
                 Permanent="yes">
        <util:EventSource Log="$(var.Logname)"
                          Name="$(var.TapiEventLogEntryName)"
                          KeyPath="yes"
                  EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>