<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Relativity.DataExchange" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <Relativity.DataExchange>
    <!-- The application name is used for APM metrics and other reporting features. -->
    <add key="ApplicationName" value="Relativity Desktop Client" />
    <!-- When this value is set to True, bad path errors are retried during a transfer. When False, permission errors are not retried and cause job failures. -->
    <!-- Note: This is a transfer mode specific setting that addresses scenarios where transfer modes, such as Aspera, fail to transfer a file because of intermittent I/O errors. -->
    <add key="BadPathErrorsRetry" value="True" />
    <!-- When this value is set to True, an error entry is added when importing or exporting zero bytes files. When False, no entries are added. -->
    <add key="CreateErrorForEmptyNativeFile" value="False" />
    <!-- When this value is set to True, a zeroed date (0/0/0000, for example) will cause an Invalid Date error. When False, the date will simply be treated as a NULL value. -->
    <add key="CreateErrorForInvalidDate" value="True" />
    <!-- When this value is set to True, the batch size is automatically decreased by 100 when a large import job is in progress, and it causes a timeout. -->
    <add key="DynamicBatchResizingOn" value="True" />
    <!-- Defines the maximum number of export documents per batch. -->
    <add key="ExportBatchSize" value="1000" />
    <!-- Defines the number of times the RDC retries an operation within an export process after a non-IO failure.  This value should be greater than or equal to the IOErrorNumberOfRetries value. -->
    <add key="ExportErrorNumberOfRetries" value="20" />
    <!-- Defines the number of seconds the RDC waits before retrying an operation within an export process after a non-IO failure. This value should be greater than or equal to the IOErrorWaitTimeInSeconds value. -->
    <add key="ExportErrorWaitTimeInSeconds" value="30" />
    <!-- Defines the size of the buffer in bytes to use when retrieving long text field data from Object Manager during export jobs. -->
    <add key="ExportLongTextBufferSizeBytes" value="16384" />
    <!-- Defines the rate, in seconds, that large file progress events are raised when retrieving long text field data from Object Manager during export jobs. -->
    <add key="ExportLongTextLargeFileProgressRateSeconds" value="3" />
    <!-- When this value is set to True, object manager is used to retrieve long text field data during export jobs. When False, the legacy Relativity.Distributed is used. -->
    <add key="ExportLongTextObjectManagerEnabled" value="True" />
    <!-- Defines the number of concurrent requests to retrieve long text field data, stored in Data Grid, from Object Manager during export jobs. -->
    <add key="ExportLongTextDataGridThreadCount" value="4" />
    <!-- Defines the number of concurrent requests to retrieve long text field data, stored in SQL Server, from Object Manager during export jobs. -->
    <add key="ExportLongTextSqlThreadCount" value="2" />
    <!-- Defines the maximum number of seconds to identify a file type before reaching the timeout. -->
    <add key="FileTypeIdentifyTimeoutSeconds" value="10" />
    <!-- Defines the number of retry attempts for HTTP related fault tolerant methods. -->
    <add key="HttpErrorNumberOfRetries" value="20" />
    <!-- Defines the number of seconds to wait between retry attempts for HTTP related fault tolerant methods. -->
    <add key="HttpErrorWaitTimeInSeconds" value="10" />
    <!-- Defines the timeout, in seconds, for HTTP/REST-based API web services. -->
    <!-- Note: This value doesn't impact WebAPI-based web services (e.g. WebAPIOperationTimeout is still honored). -->
    <add key="HttpTimeoutSeconds" value="300" />
    <!-- Defines the timeout, in seconds, for the legacy Relativity.Distributed long text specific HTTP/REST-based API web services. -->
    <!-- Note: This value doesn't impact WebAPI-based web services (e.g. WebAPIOperationTimeout is still honored). -->
    <add key="HttpExtractedTextTimeoutSeconds" value="900" />
    <!-- Defines the maximum number of bytes before the metadata is imported. -->
    <add key="ImportBatchMaxVolume" value="10485760" />
    <!-- Defines the maximum number of documents or objects before the metadata is imported. -->
    <add key="ImportBatchSize" value="1000" />
    <!-- Defines the number of times the RDC retries an operation within an import or export process after an IO failure occurs. -->
    <add key="IOErrorNumberOfRetries" value="20" />
    <!-- Defines the number of seconds the RDC waits before retrying an operation within an import or export process after an IO failure occurs. -->
    <add key="IOErrorWaitTimeInSeconds" value="30" />
    <!-- Defines the file count threshold at which the RDC will complete and recreate the transfer job used to transfer files. -->
    <add key="JobCompleteBatchSize" value="50000" />
    <!-- Enable an option to Save Progress Log when job completes. -->
    <add key="LogAllEvents" value="False" />
    <!-- Defines the Relativity Logging configuration filename. -->
    <add key="LogConfigFile" value="LogConfig.xml" />
    <!-- When this value is set to True, hashing of the sensitive logs is enabled (default). When False, log hashing is disabled. -->
    <add key="LogHashingEnabled" value="True" />
    <!-- When AutoBatch is set to True, this value represents the lower bound on the batch size. Batch sizes cannot be smaller than this value. -->
    <add key="MinimumBatchSize" value="100" />
    <!-- When this value is set to True, permission errors are retried before and during an import transfer. When False, permission errors are not retried and cause job failures. -->
    <add key="PermissionErrorsRetry" value="True" />
    <!-- When this value is set to True, permission errors are retried before and during an export transfer. When False, permission errors are not retried and cause job failures. -->
    <add key="ExportPermissionErrorsRetry" value="False" />
    <!-- When this value is set to True, SSL certificate validation errors are suppressed. When False, SSL certificate validation errors cause job failures. -->
    <add key="SuppressCertificateCheckOnClient" value="False" />
    <!-- Defines the root folder where the BCP files are uploaded when using the Aspera mode. -->
    <!-- Note: This should never be changed unless instructed by RelativityOne support. -->
    <add key="TapiAsperaBcpRootFolder" value="" />
    <!-- The size of the largest datagram size that will be used by Aspera. This should only be changed when default size is not supported by user's infrastructure, causing packets to be lost. -->
    <!-- Allowed values are between 296 and 10000 otherwise default value will be used. Default value is 0, which means that datagram size is detected automatically. -->
    <add key="TapiAsperaDatagramSize" value="0" />
    <!-- When this value is set to True, missing files aren't treated as errors in import. When False, missing files are treated as errors. -->
    <add key="TapiFileNotFoundErrorsDisabled" value="False" />
    <!-- When this value is set to True, missing files aren't treated as errors in export. When False, missing files are treated as errors. -->
    <add key="TapiExportFileNotFoundErrorsDisabled" value="True" />
    <!-- When this value is set to True, missing files are retried in import. When False, missing files aren't retried. -->
    <add key="TapiFileNotFoundErrorsRetry" value="True" />
    <!-- When this value is set to True, missing files are retried in export. When False, missing files aren't retried. -->
    <add key="TapiExportFileNotFoundErrorsRetry" value="False" />
    <!-- When this value is set to True, the Aspera mode is forced. When False, the best transfer mode is chosen at runtime. -->
    <add key="TapiForceAsperaClient" value="False" />
    <!-- When this value is set to True, the Web mode is forced only for BCP operations. When false, the best transfer mode is chosen at runtime. -->
    <!-- Note: This is provided for RelativityOne client domain environments where the BCP share isn't accessible from the primary file share. -->
    <add key="TapiForceBcpHttpClient" value="False" />
    <!-- Force an ordered list of transfer modes when probing a workspace and choosing the best mode. This value represents a semi-colon delimited list. Native transfer client identifiers must be used (IE FileShare;Aspera;Http). -->
    <add key="TapiForceClientCandidates" value="" />
    <!-- When this value is set to True, the Direct mode is forced. When False, the best transfer mode is chosen at runtime. -->
    <add key="TapiForceFileShareClient" value="False" />
    <!-- When this value is set to True, the Web mode is forced. When false, the best transfer mode is chosen at runtime. -->
    <!-- Note: This is the same as Web mode. -->
    <add key="TapiForceHttpClient" value="False" />
    <!-- When this value is set to True, large-file progress is used by transfer modes to display "Trip x of y" chunk info within the status area. When False, no chunk info is displayed. -->
    <add key="TapiLargeFileProgressEnabled" value="False" />
    <!-- Defines the maximum number of seconds in which no data movement occurs before treating the transfer inactive. When this occurs, the import or export job continues but performance may be degraded. -->
    <add key="TapiMaxInactivitySeconds" value="180" />
    <!-- Defines the maximum degree of parallelism for a transfer job. -->
    <!-- Note: Support is limited to Direct and Web modes. -->
    <add key="TapiMaxJobParallelism" value="10" />
    <!-- Defines the minimum data rate in Mbps units. If set to zero, the best value is chosen. -->
    <!-- Note: Support is limited to RelativityOne Aspera mode. -->
    <add key="TapiMinDataRateMbps" value="0" />
    <!-- When this value is set to True, import and export file timestamps are preserved. -->
    <!-- Note: Support is limited to Direct and RelativityOne Aspera modes. -->
    <add key="TapiPreserveFileTimestamps" value="False" />
    <!-- When this value is set to True, APM metrics are submitted upon completion of the transfer job. When False, no APM metrics are submitted. -->
    <add key="TapiSubmitApmMetrics" value="True" />
    <!-- Defines the target data rate in Mbps units. -->
    <!-- Note: Support is limited to RelativityOne Aspera mode. -->
    <add key="TapiTargetDataRateMbps" value="100" />
    <!-- Defines the directory where Relativity Logging and transfer specific logs are stored. -->
    <add key="TapiTransferLogDirectory" value="%temp%\RDC_log\" />
    <!-- Defines a temp directory override where short lived import files are stored. When not defined, the user profile %TEMP% directory is used. -->
    <add key="TempDirectory" value="" />
    <!-- Defines the time an XML Web service client waits for the reply to a synchronous XML Web service request to arrive (in milliseconds). -->
    <add key="WebAPIOperationTimeout" value="600000"/>
    <!-- Indicating whether Native File Transfer and Metadata import operations are synchronized in the batch -->
    <!-- If set to True than Metadata import operation is not triggered until Native File transfer finishes.-->
    <add key="UseSynchronizedImportBatchMode" value="True"/>
    <!-- When this value is set to True, export of the PDF files is enabled in RDC -->
    <add key="UseSearchablePDF" value="True"/>
    <!-- When this value is set to True, an error entry is added when exporting zero bytes searchable PDF files. When False, no entries are added. -->
    <add key="CreateErrorForEmptyPdfFile" value="False" />
    <!-- When this value is set to True, Kepler service is used instead of WebApi service -->
    <add key="UseKepler" value="True"/>
    <!-- When this value is set to True, the retries will first be done in the original data transfer mode, before swithcing to Web. -->
    <add key="RetryInTheOriginalTransferMode" value ="True"/>
  </Relativity.DataExchange>
  <appSettings>
    <!-- User application and configured property settings go here. -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <!--- Required to enable native support for long file paths for file transfers in the RDC and ROSE. -->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>