<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="compareConfig" type="SQLDataComparer.Config.CompareConfig, SQLDataComparer"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="LeftDatabase" connectionString="Data Source=P-DV-VM-CUT4TOO;Initial Catalog=EDDS1018056;User ID=sa;Password=P@ssw0rd@1;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="RightDatabase" connectionString="Data Source=P-DV-VM-CUT4TOO;Initial Catalog=EDDS1018055;User ID=sa;Password=P@ssw0rd@1;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <compareConfig>
    <tables>
      <add name="EDDSDBO.Document" rowId="ControlNumber">
        <ignore>
          <add name="ArtifactID"/>
          <add name="ParentArtifactID_D"/>
          <add name="OriginatingImagingDocumentError"/>
          <add name="TestOnly"/>
        </ignore>
        <mappings>
          <add name="TestMultiObj" type="MultiObject" targetTable="EDDSDBO.ImagingSet"/>
          <add name="Privilege Designation" type="MultiChoice" targetTable="EDDSDBO.Code"/>
          <add name="Confidential Designation" type="SingleChoice" targetTable="EDDSDBO.Code"/>
          <add name="TestOnly" type="SingleObject" targetTable="EDDSDBO.ImagingSet"/>
        </mappings>
      </add>
      <add name="EDDSDBO.Artifact" rowId="TextIdentifier">
        <ignore>
          <add name="ArtifactID"/>
          <add name="ParentArtifactID"/>
          <add name="CreatedOn"/>
          <add name="LastModifiedOn"/>
          <add name="LastModifiedBy"/>
        </ignore>
      </add>
      <add name="EDDSDBO.Code" rowId="Name">
        <ignore>
          <add name="ArtifactID"/>
        </ignore>
      </add>
      <add name="EDDSDBO.Field" rowId="DisplayName">
        <ignore>
          <add name="ArtifactID"/>
          <add name="ArtifactViewFieldID"/>
          <add name="AssociativeArtifactTypeID"/>
          <add name="RelationalIndexViewArtifactID"/>
        </ignore>
      </add>
      <add name="EDDSDBO.ImagingSet" rowId="Name">
        <ignore>
          <add name="ArtifactID"/>
        </ignore>
      </add>
      <add name="EDDSDBO.AuditRecord_PrimaryPartition" rowId="TextIdentifier">
      </add>
    </tables>
  </compareConfig>
</configuration>