<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Fragment Id="DotNet46">
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
		<Condition Message="!(loc.DotNet46NotInstalled)">
			<![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
		</Condition>
		<Property Id="DOTNET46_INSTALLED" Secure="yes"/>
	</Fragment>
</Wix>