<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
		 xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <?include $(sys.CURRENTDIR)\Variables.wxi ?>
  <?include $(sys.CURRENTDIR)\Version.wxi ?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Codepage="1252"
           Language="1033"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Manufacturer="Relativity ODA LLC">
    <Package Description="$(var.ProductName) Installer package"
             Comments="$(var.ProductName) Windows Installer database"
             Manufacturer="Relativity ODA LLC"
             InstallPrivileges="elevated"
             InstallerVersion="405"
             Compressed="yes"
		         InstallScope="perMachine"  />
    <Condition Message="!(loc.AdminPrivilegesRequired)">Privileged</Condition>

    <!-- Fetch the old RDC path in order for the CA to perform the app.config backup for old RDC->new RCC and new RDC->new RDC -->
    <Property Id="OLDRDCPATH"
              Secure="yes">
      <RegistrySearch Id="OldRdcInstallDirSearch"
                      Root="HKLM"
                      Key="Software\kCura\RelativityDesktopClient"
                      Name="Path"
                      Type="file">
      </RegistrySearch>
    </Property>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
                  AllowSameVersionUpgrades="no"
                  Schedule="afterInstallInitialize"
                  AllowDowngrades="no"/>

    <!-- UI Extensions -->
    <UIRef Id="WixUI_MondoNoLicense" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Set the icon for the msi and Add/Remove programs -->
    <Icon Id="relativity_1.exe"
          SourceFile="$(var.ProjectDir)..\..\Images\relativity-icon.ICO" />
    <Property Id="ARPPRODUCTICON"
              Value="relativity_1.exe" />
    <Property Id="REINSTALLMODE"
              Value="amus"/>
    <Property Id="AppProcessName"
              Value="$(var.ProcessName)"/>

    <!-- Perform the proper upgrade checks -->
    <Property Id="NEWERPRODUCTFOUND" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="yes" OnlyDetect="yes" Language="1033" Property="NEWERPRODUCTFOUND" />
    </Upgrade>

    <!-- This represents whether the RDC is used for RelativityOne environments. -->
    <Property Id="RELATIVITYONE_ENV"
              Value="1" />

    <!-- We always want verbose logging -->
    <Property Id="MsiLogging" Value="v" />

    <!-- Perform the proper upgrade checks -->
    <Media Id="1"
           Cabinet="Relativity.Desktop.Client.cab"
           EmbedCab="yes" />
    <Property Id="DiskPrompt"
              Value="kCura $(var.ProductName) $(var.ProductVersion) Installation [1]" />
    <Property Id="SOURCEAPPCONFIGFILE"
              Secure="yes">
      <RegistrySearch Id="InstallDirSearch"
                      Root="HKLM"
                      Key="$(var.RegistryKey)"
                      Name="InstallDir"
                      Type="directory">
        <DirectorySearch Id="InstallPathDirectory"
                         Depth="0">
          <FileSearch Id="InstallPathFile"
                      Name="$(var.ConfigFile)"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir"
                   Name="$(var.ProductName) $(var.ProductVersion)"/>
      </Directory>
      <Directory Id="ProgramFilesFolder"
                 Name="PFiles">
        <?if $(var.Platform) = "x64" ?>
      </Directory>
      <Directory Id="ProgramFiles64Folder"
                 Name="PFiles">
        <?endif ?>
        <Directory Id="kCuraCorp"
                   Name="kCura Corporation">
          <Directory Id="INSTALLFOLDER"
                     Name="$(var.ProductName)">
            <Directory Id="Images"
                       Name="Images"/>
            <Directory Id="Licensing3rdPartyFolder"
                       Name="Licenses" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Components -->
    <Component Id="AppDesktopShortcut"
               Directory="DesktopFolder"
               Guid="{2803A897-3AFE-4BE5-A530-59BA24453C8C}">
      <Shortcut Id="RdcDesktop"
                Directory="DesktopFolder"
                Name="$(var.ProductName)"
                Target="[#Relativity.Desktop.Client.exe]"
                Icon="relativity_1.exe"
                Description="desktop"
                IconIndex="0" />
      <RemoveFolder Id="DesktopFolder"
                    On="uninstall"/>
      <RegistryValue Root="HKCU"
                     Key="$(var.RegistryKey)"
                     Name="DesktopShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes"/>
    </Component>
    <Component Id="AppStartMenuShortcut"
               Directory="ProgramMenuDir"
               Guid="{73ECF262-0E7A-422A-8526-83948AF2B0BA}">
      <Shortcut Id="RdcStartMenu"
                Directory="ProgramMenuFolder"
                Target="[#Relativity.Desktop.Client.exe]"
                Name="$(var.ProductName)"
                Icon="relativity_1.exe" IconIndex="0" />
      <RemoveFolder Id="ProgramMenuDir"
                    On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="$(var.RegistryKey)"
                     Name="AppMenuShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
    <Component Id="Relativity.Desktop.Client.exe"
               Directory="INSTALLFOLDER"
               Guid="{DB6B10E6-5CF6-4C94-ABDB-7F69B3558494}">
      <File Id="Relativity.Desktop.Client.exe"
            Name="Relativity.Desktop.Client.exe"
            DiskId="1"
            Source="$(var.Relativity.Desktop.Client.Legacy.TargetPath)"
            KeyPath="yes"/>
    </Component>
    <Component Id="Relativity.Desktop.Client.Config"
               Directory="INSTALLFOLDER"
               Guid="{38EA6E0E-55A3-4139-9FBE-E2279ACEB682}"
               KeyPath="yes">
      <File Id="Relativity.Desktop.Client.Config"
            Source="$(var.Relativity.Desktop.Client.Legacy.TargetPath).config"
            Vital="yes" />
    </Component>
    <Component Id="RDCFirewall"
               Directory="INSTALLFOLDER"
               Guid="{598D0624-3FD8-4549-9127-4FD252F8DE61}"
               KeyPath="yes">
      <Condition>RELATIVITYONE_ENV=1</Condition>
      <!--Adding firewall exceptions to support Aspera. -->
      <fw:FirewallException
        Id="RdcClientTCPInbound"
        File="Relativity.Desktop.Client.exe"
        Protocol="tcp"
        Name="Relativity Desktop Client TCP"
        Port="33001"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound01"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 01"
        Port="33001"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound02"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 02"
        Port="33002"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound03"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 03"
        Port="33003"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound04"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 04"
        Port="33004"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound05"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 05"
        Port="33005"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound06"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 06"
        Port="33006"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound07"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 07"
        Port="33007"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound08"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 08"
        Port="33008"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound09"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 09"
        Port="33009"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound10"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 10"
        Port="33010"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound11"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 11"
        Port="33011"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound12"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 12"
        Port="33012"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound13"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 13"
        Port="33013"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound14"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 14"
        Port="33014"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound15"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 15"
        Port="33015"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound16"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 16"
        Port="33016"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound17"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 17"
        Port="33017"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound18"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 18"
        Port="33018"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound19"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 19"
        Port="33019"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound20"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 20"
        Port="33020"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound21"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 21"
        Port="33021"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound22"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 22"
        Port="33022"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound23"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 23"
        Port="33023"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound24"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 24"
        Port="33024"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound25"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 25"
        Port="33025"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound26"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 26"
        Port="33026"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound27"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 27"
        Port="33027"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound28"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 28"
        Port="33028"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound29"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 29"
        Port="33029"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound30"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 30"
        Port="33030"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound31"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 31"
        Port="33031"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound32"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 32"
        Port="33032"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound33"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 33"
        Port="33033"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound34"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 34"
        Port="33034"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound35"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 35"
        Port="33035"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound36"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 36"
        Port="33036"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound37"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 37"
        Port="33037"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound38"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 38"
        Port="33038"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound39"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 39"
        Port="33039"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound40"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 40"
        Port="33040"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound41"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 41"
        Port="33041"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound42"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 42"
        Port="33042"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound43"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 43"
        Port="33043"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound44"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 44"
        Port="33044"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound45"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 45"
        Port="33045"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound46"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 46"
        Port="33046"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound47"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 47"
        Port="33047"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound48"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 48"
        Port="33048"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound49"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 49"
        Port="33049"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound50"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP 50"
        Port="33050"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
    </Component>
    <Component Id="NativeDependencies"
               Directory="INSTALLFOLDER"
               Guid="{2983D37E-B66F-49D2-BD02-5E058C73F405}"
               KeyPath="yes">
      <File Id="Primary.itextsharp"
            Name="itextsharp.dll"
            DiskId="1"
            Source="..\..\Vendor\iTextSharp\5.5.13.1\$(var.Platform)\itextsharp.dll" />
    </Component>
    <Component Id="RegistryEntries"
               Directory="INSTALLFOLDER"
               Guid="{E7396839-3D4B-498C-9333-B46DDDCB90C2}">
      <RegistryKey Root="HKLM"
                   Key="$(var.RegistryKey)"
                   ForceCreateOnInstall="yes"
                   ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string"
                       Name="Version"
                       Value="$(var.ProductVersion)"
                       KeyPath="no" />
        <RegistryValue Type="string"
                       Name="Path"
                       Value="[INSTALLFOLDER]Relativity.Desktop.Client.exe"
                       KeyPath="yes" />
        <RegistryValue Type="string"
                       Name="InstallDir"
                       Value="[INSTALLFOLDER]"
                       KeyPath="no" />
        <RegistryValue Type="integer"
                       Name="RelativityOneEnv"
                       Value="0"
                       KeyPath="no" />
      </RegistryKey>
    </Component>
    <Component Id="BrowserRegistryEntry"
               Directory="INSTALLFOLDER"
               Guid='{144BCAC9-A367-42DD-82F5-D451C5E76EE6}'>
	    <RegistryKey Root="HKLM"
	                 Key="$(var.BrowserRegistryKey)"
	                 ForceCreateOnInstall="yes"
	                 ForceDeleteOnUninstall="no">
		    <RegistryValue Action="write"
		                   Type="integer"
		                   Name="Relativity.Desktop.Client.exe"
		                   Value='11000'
		                   KeyPath="yes" />
	    </RegistryKey>
    </Component>
    <Component Id="ImagesComponent"
               Directory="Images"
               Guid="{4DDBF4F4-7942-42E1-B2C5-B4B85729EAC7}"
               KeyPath="yes">
      <File Id="folderclosed"
            Name="folderclosed.ICO"
            DiskId="1"
            Source="$(var.Relativity.Desktop.Client.Legacy.ProjectDir)\..\..\Images\folderclosed.ICO" />
      <File Id="relativity"
            Name="relativity.ICO"
            DiskId="1"
            Source="$(var.ProjectDir)..\..\Images\relativity-icon.ICO" />
    </Component>

    <!-- Features -->
    <Feature Id="Complete"
             Title="$(var.ProductName) $(var.ProductVersion)"
             Description="The complete package."
             Display="expand"
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="MainProgram"
               Title="Program Files"
               Description="Main Relativity executable files."
               Level="1"
               Absent="disallow">
        <ComponentRef Id="NativeDependencies" />
        <ComponentRef Id="RegistryEntries" />
        <ComponentRef Id="BrowserRegistryEntry" />
        <ComponentRef Id="Relativity.Desktop.Client.exe" />
        <ComponentRef Id="Relativity.Desktop.Client.Config" />
        <ComponentRef Id="AppStartMenuShortcut" />
        <ComponentRef Id="AppDesktopShortcut"/>
        <ComponentRef Id="ImagesComponent" />
        <ComponentGroupRef Id="EventLogEntries"/>
        <ComponentGroupRef Id="PrimaryComponentGroup" />
        <ComponentRef Id="RDCFirewall" />
      </Feature>
      <Feature Id="Licensing3rdPartyFeature"
               Title="Licensing_3rdParty"
               Description="Licensing and attribution for 3rd party libraries."
               Level="1">
        <ComponentGroupRef Id="LicensingFor3rdPartyGroup" />
      </Feature>
    </Feature>

    <!-- Don't overwrite the existing app.config during the upgrade! -->
    <SetProperty Id="BackupConfigurationOldRdcPath"
                 Value="OLDRDCPATH=[OLDRDCPATH]"
                 Before="BackupConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="BackupConfiguration"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE]"
                 Before="BackupConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="RestoreConfiguration"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE];TARGETAPPCONFIGFILE=[#Relativity.Desktop.Client.Config];UILevel=[UILevel];ProductName=[ProductName]"
                 Before="RestoreConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="Cleanup"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE]"
                 Before="Cleanup"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="CloseRunningApplications"
                 Value="APP_PROCESS_NAME=[APP_PROCESS_NAME];UILevel=[UILevel];ProductName=[ProductName]"
                 Before="CloseRunningApplications"
                 Sequence="execute"/>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <!-- Note: this MUST be scheduled before the installation; otherwise, it will already be uninstalled. -->
      <Custom Action="GetOldRdcVersion" Before="InstallInitialize">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="CloseRunningApplications" After="InstallInitialize">1</Custom>
      <Custom Action="BackupConfiguration" After="CloseRunningApplications">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="RestoreConfiguration" After="WriteRegistryValues">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="Cleanup" After="RestoreConfiguration">WIX_UPGRADE_DETECTED</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>