<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
		 xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <?include $(sys.CURRENTDIR)\Variables.wxi ?>
  <?include $(sys.CURRENTDIR)\Version.wxi ?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Codepage="1252"
           Language="1033"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Manufacturer="Relativity ODA LLC">
    <Package Description="$(var.ProductName) Installer package"
             Comments="$(var.ProductName) Windows Installer database"
             Manufacturer="Relativity ODA LLC"
             InstallPrivileges="elevated"
             InstallerVersion="405"
             Compressed="yes"
		         InstallScope="perMachine"  />
    <Condition Message="!(loc.AdminPrivilegesRequired)">Privileged</Condition>

    <!-- Fetch the old RDC path in order for the CA to perform the app.config backup for old RDC->new RCC and new RDC->new RDC -->
    <Property Id="OLDRDCPATH"
              Secure="yes">
      <RegistrySearch Id="OldRdcInstallDirSearch"
                      Root="HKLM"
                      Key="Software\kCura\RelativityDesktopClient"
                      Name="Path"
                      Type="file">
      </RegistrySearch>
    </Property>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
                  AllowSameVersionUpgrades="no"
                  Schedule="afterInstallInitialize"
                  AllowDowngrades="no"/>

    <!-- UI Extensions -->
    <UIRef Id="WixUI_MondoNoLicense" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Prerequisites -->
    <PropertyRef Id="DOTNET46_INSTALLED"/>

    <!-- VC++ 2010 x86 is required for both platforms. -->
    <PropertyRef Id="VCPP2010X86REDIST"/>

    <!-- VC++ 2017 x86 is required for both platforms. -->
    <PropertyRef Id="VCPP2017X86REDISTMAJOR"/>
    <PropertyRef Id="VCPP2017X86REDISTMINOR"/>
    <PropertyRef Id="VCPP2017X86REDISTBLD"/>

    <?if $(var.Platform) = "x64" ?>
    <!-- VC++ 2010 x64 is required for just the x64 platform. -->
    <PropertyRef Id="VCPP2010X64REDIST"/>

    <!-- VC++ 2017 x64 is required for just the x64 platform. -->
    <PropertyRef Id="VCPP2017X64REDISTMAJOR"/>
    <PropertyRef Id="VCPP2017X64REDISTMINOR"/>
    <PropertyRef Id="VCPP2017X64REDISTBLD"/>
    <?endif?>

    <!-- Set the icon for the msi and Add/Remove programs -->
    <Icon Id="relativity_1.exe"
          SourceFile="$(var.ProjectDir)..\..\Images\relativity-icon.ICO" />
    <Property Id="ARPPRODUCTICON"
              Value="relativity_1.exe" />
    <Property Id="REINSTALLMODE"
              Value="amus"/>
    <Property Id="AppProcessName"
              Value="$(var.ProcessName)"/>

    <!-- Perform the proper upgrade checks -->
    <Property Id="NEWERPRODUCTFOUND" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="yes" OnlyDetect="yes" Language="1033" Property="NEWERPRODUCTFOUND" />
    </Upgrade>

    <!-- This represents whether the RDC is used for RelativityOne environments. -->
    <Property Id="RELATIVITYONE_ENV"
              Value="1" />

    <!-- We always want verbose logging -->
    <Property Id="MsiLogging" Value="v" />

    <!-- Perform the proper upgrade checks -->
    <Media Id="1"
           Cabinet="Relativity.Desktop.Client.cab"
           EmbedCab="yes" />
    <Property Id="DiskPrompt"
              Value="kCura $(var.ProductName) $(var.ProductVersion) Installation [1]" />
    <Property Id="SOURCEAPPCONFIGFILE"
              Secure="yes">
      <RegistrySearch Id="InstallDirSearch"
                      Root="HKLM"
                      Key="$(var.RegistryKey)"
                      Name="InstallDir"
                      Type="directory">
        <DirectorySearch Id="InstallPathDirectory"
                         Depth="0">
          <FileSearch Id="InstallPathFile"
                      Name="$(var.ConfigFile)"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir"
                   Name="$(var.ProductName) $(var.ProductVersion)"/>
      </Directory>
      <Directory Id="ProgramFilesFolder"
                 Name="PFiles">
        <?if $(var.Platform) = "x64" ?>
      </Directory>
      <Directory Id="ProgramFiles64Folder"
                 Name="PFiles">
        <?endif ?>
        <Directory Id="kCuraCorp"
                   Name="kCura Corporation">
          <Directory Id="INSTALLFOLDER"
                     Name="$(var.ProductName)">
            <Directory Id="Images"
                       Name="Images"/>
            <Directory Id="Licensing3rdPartyFolder"
                       Name="Licenses" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Components -->
    <Component Id="AppDesktopShortcut"
               Directory="DesktopFolder"
               Guid="{2803A897-3AFE-4BE5-A530-59BA24453C8C}">
      <Shortcut Id="RdcDesktop"
                Directory="DesktopFolder"
                Name="$(var.ProductName)"
                Target="[#Relativity.Desktop.Client.exe]"
                Icon="relativity_1.exe"
                Description="desktop"
                IconIndex="0" />
      <RemoveFolder Id="DesktopFolder"
                    On="uninstall"/>
      <RegistryValue Root="HKCU"
                     Key="$(var.RegistryKey)"
                     Name="DesktopShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes"/>
    </Component>
    <Component Id="AppStartMenuShortcut"
               Directory="ProgramMenuDir"
               Guid="{73ECF262-0E7A-422A-8526-83948AF2B0BA}">
      <Shortcut Id="RdcStartMenu"
                Directory="ProgramMenuFolder"
                Target="[#Relativity.Desktop.Client.exe]"
                Name="$(var.ProductName)"
                Icon="relativity_1.exe" IconIndex="0" />
      <RemoveFolder Id="ProgramMenuDir"
                    On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="$(var.RegistryKey)"
                     Name="AppMenuShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
    <Component Id="Relativity.Desktop.Client.exe"
               Directory="INSTALLFOLDER"
               Guid="{DB6B10E6-5CF6-4C94-ABDB-7F69B3558494}">
      <File Id="Relativity.Desktop.Client.exe"
            Name="Relativity.Desktop.Client.exe"
            DiskId="1"
            Source="$(var.Relativity.Desktop.Client.Legacy.TargetPath)"
            KeyPath="yes"/>
    </Component>
    <Component Id="Relativity.Desktop.Client.Config"
               Directory="INSTALLFOLDER"
               Guid="{38EA6E0E-55A3-4139-9FBE-E2279ACEB682}"
               KeyPath="yes">
      <File Id="Relativity.Desktop.Client.Config"
            Source="$(var.Relativity.Desktop.Client.Legacy.TargetPath).config"
            Vital="yes" />
    </Component>
    <Component Id="RDCFirewall"
               Directory="INSTALLFOLDER"
               Guid="{598D0624-3FD8-4549-9127-4FD252F8DE61}"
               KeyPath="yes">
      <Condition>RELATIVITYONE_ENV=1</Condition>
      <!--Adding firewall exceptions to support Aspera. -->
      <fw:FirewallException
        Id="RdcClientTCPInbound"
        File="Relativity.Desktop.Client.exe"
        Protocol="tcp"
        Name="Relativity Desktop Client TCP"
        Port="*"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
      <fw:FirewallException
        Id="RdcClientUDPInbound"
        File="Relativity.Desktop.Client.exe"
        Protocol="udp"
        Name="Relativity Desktop Client UDP"
        Port="*"
        Scope="any"
        IgnoreFailure="no"
        Profile="all" />
    </Component>
    <Component Id="NativeDependencies"
               Directory="INSTALLFOLDER"
               Guid="{2983D37E-B66F-49D2-BD02-5E058C73F405}"
               KeyPath="yes">
      <File Id="Primary.itextsharp"
            Name="itextsharp.dll"
            DiskId="1"
            Source="..\..\Vendor\iTextSharp\5.1.2\$(var.Platform)\itextsharp.dll" />
      <File Id="Primary.FreeImageNET"
            Name="FreeImageNET.dll"
            DiskId="1"
            Source="..\..\Vendor\FreeImage\3.18.0\$(var.Platform)\FreeImageNET.dll" />
      <File Id="Primary.FreeImage"
            Name="FreeImage.dll"
            DiskId="1"
            Source="..\..\Vendor\FreeImage\3.18.0\$(var.Platform)\FreeImage.dll" />
    </Component>
    <Component Id="RegistryEntries"
               Directory="INSTALLFOLDER"
               Guid="{E7396839-3D4B-498C-9333-B46DDDCB90C2}">
      <RegistryKey Root="HKLM"
                   Key="$(var.RegistryKey)"
                   ForceCreateOnInstall="yes"
                   ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string"
                       Name="Version"
                       Value="$(var.ProductVersion)"
                       KeyPath="no" />
        <RegistryValue Type="string"
                       Name="Path"
                       Value="[INSTALLFOLDER]Relativity.Desktop.Client.exe"
                       KeyPath="yes" />
        <RegistryValue Type="string"
                       Name="InstallDir"
                       Value="[INSTALLFOLDER]"
                       KeyPath="no" />
        <RegistryValue Type="integer"
                       Name="RelativityOneEnv"
                       Value="[RELATIVITYONE_ENV]"
                       KeyPath="no" />
      </RegistryKey>
    </Component>
    <Component Id="ImagesComponent"
               Directory="Images"
               Guid="{4DDBF4F4-7942-42E1-B2C5-B4B85729EAC7}"
               KeyPath="yes">
      <File Id="folderclosed"
            Name="folderclosed.ICO"
            DiskId="1"
            Source="$(var.Relativity.Desktop.Client.Legacy.ProjectDir)\..\..\Images\folderclosed.ICO" />
      <File Id="relativity"
            Name="relativity.ICO"
            DiskId="1"
            Source="$(var.ProjectDir)..\..\Images\relativity-icon.ICO" />
    </Component>

    <!-- Features -->
    <Feature Id="Complete"
             Title="$(var.ProductName) $(var.ProductVersion)"
             Description="The complete package."
             Display="expand"
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="MainProgram"
               Title="Program Files"
               Description="Main Relativity executable files."
               Level="1"
               Absent="disallow">
        <ComponentRef Id="NativeDependencies" />
        <ComponentRef Id="RegistryEntries" />
        <ComponentRef Id="Relativity.Desktop.Client.exe" />
        <ComponentRef Id="Relativity.Desktop.Client.Config" />
        <ComponentRef Id="AppStartMenuShortcut" />
        <ComponentRef Id="AppDesktopShortcut"/>
        <ComponentRef Id="ImagesComponent" />
        <ComponentGroupRef Id="EventLogEntries"/>
        <ComponentGroupRef Id="PrimaryComponentGroup" />
        <ComponentRef Id="RDCFirewall" />
      </Feature>
      <Feature Id="Licensing3rdPartyFeature"
               Title="Licensing_3rdParty"
               Description="Licensing and attribution for 3rd party libraries."
               Level="1">
        <ComponentGroupRef Id="LicensingFor3rdPartyGroup" />
      </Feature>
    </Feature>

    <!-- Don't overwrite the existing app.config during the upgrade! -->
    <SetProperty Id="BackupConfigurationOldRdcPath"
                 Value="OLDRDCPATH=[OLDRDCPATH]"
                 Before="BackupConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="BackupConfiguration"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE]"
                 Before="BackupConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="RestoreConfiguration"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE];TARGETAPPCONFIGFILE=[#Relativity.Desktop.Client.Config];UILevel=[UILevel];ProductName=[ProductName]"
                 Before="RestoreConfiguration"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="Cleanup"
                 Value="SOURCEAPPCONFIGFILE=[SOURCEAPPCONFIGFILE]"
                 Before="Cleanup"
                 Sequence="execute">WIX_UPGRADE_DETECTED</SetProperty>
    <SetProperty Id="CloseRunningApplications"
                 Value="APP_PROCESS_NAME=[APP_PROCESS_NAME];UILevel=[UILevel];ProductName=[ProductName]"
                 Before="CloseRunningApplications"
                 Sequence="execute"/>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <!-- Note: this MUST be scheduled before the installation; otherwise, it will already be uninstalled. -->
      <Custom Action="GetOldRdcVersion" Before="InstallInitialize">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="CloseRunningApplications" After="InstallInitialize">1</Custom>
      <Custom Action="BackupConfiguration" After="CloseRunningApplications">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="RestoreConfiguration" After="WriteRegistryValues">WIX_UPGRADE_DETECTED</Custom>
      <Custom Action="Cleanup" After="RestoreConfiguration">WIX_UPGRADE_DETECTED</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>